[submodule "assets/gamecontrollerdb"]
	path = assets/gamecontrollerdb
	url = https://github.com/gabomdq/SDL_GameControllerDB.git
	branch = master
	ignore = dirty
[submodule "proprietary"]
	path = proprietary
	url = https://github.com/MTareqAzim/proprietary.git
	branch = main

